body {
    background-color: #080c15;
    font-family: Arial;
    color: white;
}


/* Main login box */

.login-box {
    width: 400px;
    margin: 70px auto;
    padding: 30px;

    background-color: #101625;

    border: 1px solid #333b4d;
    border-radius: 15px;
}


/* Purple badge */

.badge {
    display: inline-block;

    background-color: #281044;
    color: #c36cff;

    padding: 8px 12px;
    border-radius: 20px;
}


/* Heading */

h1 {
    margin-bottom: 5px;
}


.subtitle {
    color: #788399;
    margin-bottom: 30px;
}


/* Labels */

h5 {
    margin-top: 20px;
    margin-bottom: 8px;

    color: #aeb6c5;
}


/* Input boxes */

input {
    width: 100%;
    padding: 12px;

    box-sizing: border-box;

    background-color: #070b12;
    color: white;

    border: 1px solid #30394b;
    border-radius: 10px;
}


/* Placeholder text */

input::placeholder {
    color: #596477;
}


/* Tip */

.tip {
    color: #657085;
    font-size: 11px;
}


/* Button */

button {
    width: 100%;
    padding: 14px;

    background-color: #a900ff;
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;

    margin-top: 15px;
}


/* Button when mouse is over it */

button:hover {
    background-color: #c020ff;
}


/* Horizontal line */

hr {
    border: none;
    border-top: 1px solid #293142;

    margin-top: 30px;
}


/* Footer */

.footer {
    color: #718096;
    font-size: 12px;
}

